@media (max-width: 1300px) {}

@media (max-width: 1199px) {

    /* home_css_start */
    .hiw-bx {
        padding-left: 30px;
        padding-right: 30px;
    }

    .home-banner .carousel-caption {
        right: 55%;
    }

    .edh-inner {
        padding-right: 40%;
    }

    .edh-inner>img {
        width: 30%;
    }

    .tp-img {
        height: 165px;
    }

    .tp-img img {
        max-height: 125px;
    }

    .navbar-nav {
        margin-left: 6%;
    }

    .home-banner .carousel-caption h2 {
        font-size: 40px;
    }

    /* home_css_end */

    /* shop_css_start */
    .sub_banner {
        padding: 40px 0px;
        margin-bottom: 40px;
    }

    .sort_by_right {
        width: 40%;
    }

    /* shop_css_end */

    /* about_css_start */
    .about_sce_main {
        margin-bottom: 40px;
    }

    .about_info h2 {
        font-size: 28px;
        line-height: 42px;
    }

    .about_sce_two {
        margin-top: 40px;
    }

    /* about_css_end */

    /* wishlist_css_start */
    .cart_price_info>ul>li {
        padding-bottom: 17px;
        margin-bottom: 17px;
    }

    .cart_btn .btn {
        padding: 10px 20px;
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
    }

    .cart_price_btn .cart_btn {
        margin-bottom: 10px;
    }

    /* wishlist_css_end */


}

@media (max-width: 991px) {

    /* home_css_start */
    .home-banner .carousel-caption {
        bottom: 15px;
    }

    .home-banner .carousel-caption h2 {
        font-size: 36px;
    }

    .edh-inner>img {
        width: 80px;
    }

    .hiw-bx {
        padding: 15px;
    }

    .ms-rt {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .navbar-toggler {
        background-color: #f9aa21;
        outline: none !important;
        box-shadow: none !important;
    }

    .th-rt,
    .th-lt {
        font-size: 13px;
    }

    .action-header a {
        margin-left: 0;
        margin-right: 5px;
    }

    .edh-inner {
        padding-right: 100px;
    }

    .mobile-hide {
        display: none;
    }

    .action-header.desk-hide {
        position: absolute;
        right: 48px;
        top: 30px;
        display: block;
    }

    .action-header.desk-hide a,
    .search-main {
        width: 30px;
        height: 30px;
        font-size: 14px;
        line-height: 2;
    }

    button.navbar-toggler {
        margin-top: 6px;
    }

    /* home_css_end */

    /* shop_css_start */
    .sub_banner {
        margin-bottom: 30px;
        background-size: cover;
    }

    .shop_list_ctm {
        width: calc(100% - 0px);
    }

    /* shop_css_end */

    /* login_css_start */
    .login_sec form {
        margin-top: 20px;
    }

    .login_sec form .btn-yellow {
        margin-top: 0px;
    }

    .media_login {
        margin-left: 0px;
        margin-top: 20px;
    }

    /* login_css_end */

    /* wishlist_css_start */
    .cart_price_info ul .total_amount {
        font-size: 16px;
    }

    .inner_left_menu_list {
        margin-bottom: 20px;
    }

    .cart_in_left {
        margin-bottom: 20px;
    }

    /* wishlist_css_end */

    /* order_track_css_start */
    .order-tracking {
        width: 50%;
    }

    .order-tracking-three.completed:before {
        display: none;
    }

    /* order_track_css_end */

    /* order_details_css_start */
    .order_dtl_sec_one ul>li+li {
        padding-left: 0;
        margin-top: 5px;
    }

    /* order_details_css_end */

}


@media (max-width: 767px) {

    /* home_css_start */
    .popluar-section .nav-link {
        padding: 10px 20px;
        font-size: 14px;
    }

    .footer h3 {
        margin-top: 30px;
    }

    .cp-lt,
    .cp-rt,
    .th-rt {
        text-align: center;
    }

    h2,
    .ms-rt h2 {
        font-size: 26px;
    }

    .popluar-section .nav-item {
        margin: 8px 3px;
    }

    h3 {
        font-size: 18px;
    }

    .th-lt {
        display: none;
    }

    .search-box-full.sbf {
        padding-top: 36%;
    }

    .header-search-wrapper .search-form-main {
        left: 50%;
        transform: translate(-50%, 15%);
    }

    .header-search-wrapper .search-form-main:before {
        left: 50%;
        transform: translate(-50%, -16%);
        right: auto;
    }

    .hiw-bx p {
        margin-top: 5px;
    }

    .hiw-section {
        padding-top: 45px;
        padding-bottom: 15px;
    }

    /* home_css_end */

    /* shop_css_start */


    .sub_banner {
        padding: 22px 0px;
        margin-bottom: 30px;
    }

    .sub_banner {
        padding: 30px 0px;
        margin-bottom: 30px;
        background-size: cover;
        background-position: left;
    }

    .sub_banner h1 {
        font-size: 26px;
    }

    .sort_by_left {
        display: none;
    }

    .sort_by_right {
        width: 75%;
        float: left;
    }

    .sort_by {
        margin-bottom: 10px;
    }

    /* shop_css_end */

    /* about_css_start */
    .about_sce_main {
        margin-bottom: 20px;
    }

    .about_info h2 {
        font-size: 22px;
        line-height: 35px;
    }

    .about_info p {
        margin-top: 5px;
    }

    .about_img {
        margin-bottom: 30px;
    }

    .about_sce_two {
        margin-top: 30px;
    }

    /* about_css_end */

    /* login_css_start */
    .login_blog h2 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .login_sec form {
        margin-top: 10px;
    }

    .media_login {
        padding: 10px;
    }

    .media_login a {
        font-size: 16px;
    }

    .ac_radio_btn {
        margin-bottom: 15px;
    }

    /* login_css_end */

    /* contact_css_start */
    .contact_form {
        padding: 20px 20px;
    }

    .sub_title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .contact_icon_new i {
        line-height: 65px;
        width: 65px;
        height: 65px;
    }

    .contact_icon_new i:before {
        color: #fff;
        font-size: 28px;
    }

    .contact_details {
        margin-left: 15px;
    }


    /* contact_css_end */


    /* download_css_start */
    .ctm_table {
        margin-bottom: 0;
        border: none;
    }

    .ctm_table table {
        border: 0;
    }

    .ctm_table table caption {
        font-size: 1.3em;
    }

    .ctm_table table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .ctm_table table tr {
        border: none;
        display: block;
        margin-bottom: 0px;
        padding: 0px;
    }

    .ctm_table table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 13px;
        text-align: right;
    }

    .ctm_table table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .ctm_table table td:last-child {
        border-bottom: 0;
    }

    .ctm_table table>tbody>tr {
        padding: 0px;
    }

    .ctm_table table>tbody>tr:nth-child(even) {
        background: #f3f3f3;
    }

    /* download_css_end */
}

@media (max-width: 568px) {}

@media (max-width: 480px) {}