@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

body {
    font-weight: 400;
    color: #838383;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
    counter-reset: step-inner-box;
}

img {
    border: 0 none;
    max-width: 100%;
    vertical-align: top;
}

a {
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    color: #505050;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #f9a920;
    text-decoration: none;
}

p:last-child {
    margin: 0;
}

p {
    font-size: 15px;
    line-height: 30px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/*			CUSTOM CHECK BOX AND CUSTOM RADIO CSS START		*/
.custom-checkbox [type="checkbox"]:not(:checked),
.custom-checkbox [type="checkbox"]:checked {
    left: -9999px;
    position: absolute;
}

.custom-checkbox [type="checkbox"]:not(:checked)+label:before,
.custom-checkbox [type="checkbox"]:checked+label:before {
    border: 1px solid #f9a920;
    content: "";
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

.custom-checkbox [type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.custom-checkbox [type="checkbox"]:not(:checked)+label:after,
.custom-checkbox [type="checkbox"]:checked+label:after {
    color: #fff;
    content: "\f00c";
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 1.45;
    padding: 1px 2px 2px 3px;
    transition: all 0.2s ease 0s;
    background-color: #f9a920;
    width: 20px;
    height: 20px;
}

.custom-checkbox [type="checkbox"]:not(:checked)+label,
.custom-checkbox [type="checkbox"]:checked+label {
    cursor: pointer;
    padding-left: 30px;
    position: relative;
    font-weight: 400;
    text-transform: capitalize;
}

/*	CUSTOM check CSS START	*/
/*	CUSTOM RADIO CSS START	*/
.radio-btn-small {
    display: inline-block;
    margin-right: 15px;
    padding: 0;
    position: relative;
    padding-left: 30px;
    margin-top: 3px;
}

.radio-btn-small:last-child {
    margin-right: 0;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    font-size: 14px;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 500
}

input[type="radio"]+label span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 2px 8px 0 0;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0px;
    border: 1px solid #f9a920;
    background-color: #fff;
    border-radius: 100px;
}

input[type="radio"]:checked+label span:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #f9a920;
    top: 3px;
    left: 3px;
    border-radius: 100px;
}

input[type="radio"]:checked+label span {
    background-color: #fff;
}

input[type="radio"]:checked+label {
    color: #282828;
}

.centerdiv {
    margin: 0 auto;
}

.main-header {
    border-bottom: 1px solid #f3f3f3;
}

.top-header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ececec;
}

.th-lt>ul>li,
.th-rt>ul>li {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #d5d5d5;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 9px;
    margin-left: 9px;
    line-height: 1;
    color: #222;
}

.top-header li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

.th-lt>ul>li>a {
    color: #222;
}

.th-lt>ul>li>a:hover {
    color: #f9a920;
}

.th-rt {
    text-align: right;
}

.th-rt .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
}

.th-rt .bootstrap-select>.dropdown-toggle {
    padding: 0;
    background-color: transparent !important;
    font-size: 14px !important;
    border: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}

.dropdown-menu {
    border-color: #ebebeb;
    border-radius: 8px;
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-item {
    padding: 8px 15px;
    font-size: 14px;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #f9aa21;
    color: #000;
}

.action-header {
    margin-left: auto;
}

.action-header a {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    border: 1px solid #bbbbbb;
    color: #d2d2d2;
    margin-left: 12px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 2.3;
    position: relative;
}

.action-header a:hover {
    background-color: #f9a920;
    color: #000;
    border-color: #f9a920;
}

.count {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 22px;
    height: 22px;
    background: #f41f31;
    border-radius: 50px;
    font-size: 12px;
    line-height: 22px;
    color: #FFF;
    text-align: center;
}

.navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #f9a920;
}

.navbar-nav {
    margin-left: 24%;
}

nav.navbar {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.home-banner .carousel-caption {
    text-align: left;
    right: 68%;
    left: 9%;
    bottom: 60px;
}

.home-banner .carousel-caption h2 {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
}

.btn-white {
    background-color: #ffffff;
    color: #f9a920;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 6px;
}

.btn-white:hover {
    background-color: #000 !important;
    color: #f9a920 !important;
}

.home-category {
    padding-top: 40px;
    padding-bottom: 40px;
}

.hc-col {
    border: 1px solid #ffd795;
    border-radius: 18px;
    background-color: #ffeccc;
    text-align: center;
}

.hc-col a {
    display: block;
    padding: 30px 20px 20px 20px;
    font-size: 20px;
    color: #222222;
    font-weight: 500;
    text-transform: capitalize;
}

.home-category .owl-carousel .owl-item img {
    width: auto;
    margin: 0 auto;
}

.img-cat {
    display: block;
    min-height: 65px;
    line-height: 1;
    margin-bottom: 15px;
}

.hc-col-pink {
    background-color: #ffe1d1;
    border-color: #fcc1a2;
}

.hc-col-red {
    background-color: #ffd8ba;
    border-color: #fdba86;
}

.hc-col-green {
    background-color: #e4e8cc;
    border-color: #d7e486;
}

.hc-col-gray {
    background-color: #e4dcca;
    border-color: #e4d3ae;
}

.everyday-home {
    background-color: #faead3;
    padding-top: 55px;
    padding-bottom: 35px;
}

.ed-h {
    margin-bottom: 20px;
}

.edh-inner {
    border-radius: 14px;
    background-color: #ffffff;
    color: #222222;
    padding: 15px 0px 40px 20px;
    padding-right: 48%;
    position: relative;
    height: 100%;
}

.btn-yellow {
    background-color: #f9a920;
    color: #fff;
}

.btn-yellow:hover {
    background-color: #000;
}

.btn-black {
    background-color: #000;
    color: #fff;
}

.btn-black:hover {
    background-color: #f9a920 !important;
    color: #FFF !important;
}

.edh-inner>img {
    position: absolute;
    right: 15px;
    top: 12%;
}

.edh-inner h4 {
    line-height: 1.5;
    font-weight: 600;
    color: #222222;
}

.ed-green .edh-inner {
    background-color: #00a850;
    color: #fff;
}

.ed-green .edh-inner h4 {
    color: #ffffff;
}

.ed-orange .edh-inner {
    background-color: #db731e;
    color: #fff;
}

.ed-orange .edh-inner h4 {
    color: #ffffff;
}

.link-txt-green {
    color: #00a850;
}

.link-txt-orange {
    color: #db731e;
}

.ed-green .edh-inner>img {
    top: 25%;
}

.tedning-home {
    padding-top: 40px;
    padding-bottom: 25px;
}

.title-section h2 {
    font-weight: 600;
    color: #222;
}

.tpcol {
    margin-bottom: 30px;
}

.tp-bx {
    position: relative;
    border: 1px solid #e5e5e5;
    padding: 10px 10px 25px 10px;
    border-radius: 18px;
    height: 100%;
}

.tp-img {
    position: relative;
    text-align: center;
    padding: 24px;
    margin-bottom: 20px;
    height: 211px;

}

.tp-img img {
    max-height: 165px;
}

.tp-img:hover::before {
    height: 100%;
    background-color: rgba(249, 169, 32, 1);
}

.tp-img::before {
    content: '';
    position: absolute;
    background-color: rgba(249, 169, 32, .2);
    border-radius: 18px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 96px;
    z-index: -1;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.like-btn {
    position: absolute;
    right: 10px;
    top: 0;
    color: #d2d2d2;
    font-size: 20px;
}

.like-btn:hover {
    color: #ff0000;
}

.tp-desc {
    padding-left: 14px;
    padding-right: 14px;
}

.tp-desc h4 a {
    color: #222222;
    font-weight: 500;
}

.tp-desc h4 a:hover {
    color: #db731e;
}

.tp-desc h4 {
    margin-bottom: 10px;
    font-weight: 500;
    color: #222;
}

.tp-desc p {
    color: #838383;
    font-weight: 400;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
}

.tp-desc ul li {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 5px;
}

.tp-desc ul li a {
    font-size: 16px;
    color: #f9a920;
}

.tp-desc ul li.no_active a {
    color: #dfdfdf;
}

.tp-user {
    padding: 2px 2px 2px 51px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
}

.tp-thumb {
    position: absolute;
    left: 2px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
}

.tp-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tp-user h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #f9a920;
    font-size: 15px;
}

.tp-user h5 a {
    color: #f9a920;
}

.tp-user h5 a:hover {
    color: #000;
}

.tp-price {
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
}

.cart-icon {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    display: block;
    color: #fff;
    background-color: #f9a920;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 2.1;
    font-size: 20px;
}

.cart-icon:hover {
    background-color: #000;
}

.price-sup {
    font-size: 24px;
    font-weight: 700;
    color: #222222;
}

.price-sup sup {
    font-size: 10px;
    top: -11px;
}

.hiw-section {
    background-image: url(../images/hiw-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 95px;
    padding-bottom: 65px;
}

.hiw-bx {
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 30px 60px;
}

.hiw-col {
    margin-bottom: 30px;
}

.hiw-bx h3 {
    margin-top: 25px;
    text-transform: uppercase;
    color: #222;
    font-weight: 600;
}

.hiw-bx p {
    font-size: 14px;
    margin-top: 20px;
    color: #838383;
}

.popluar-section {
    padding-top: 60px;
    padding-bottom: 120px;
}

.popluar-section .nav-tabs {
    display: block;
    text-align: center;
    border: 0;
    margin-bottom: 25px;
}

.popluar-section .nav-item {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
}

.popluar-section .nav-link {
    border: 1px solid #e5e5e5;
    font-size: 16px;
    text-transform: capitalize;
    color: #838383;
    padding: 8px 30px;
    border-radius: 25px;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
}

.popluar-section .nav-link:hover,
.popluar-section .nav-link.active {
    background-color: #f9a920;
    color: #ffffff;
    border-color: #f9a920;
}

.popcol .tp-img {
    padding: 14px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 140px;
    height: 135px;
}

.popcol .tp-bx {
    padding-left: 160px;
    min-height: 158px;
    padding-top: 20px;
}

.popcol .tp-img::before {
    height: 100%;
}

.popcol .tp-img img {
    max-height: 108px;
}

.popcol .like-btn {
    right: 13px;
    top: 10px
}

.popcol .tp-price {
    padding-left: 15px;
}

.popcol .cart-icon {
    right: 4px;
}

.vm-link {
    border-radius: 25px;
    min-width: 162px;
}

.neslter-section {
    background-color: #0b0320;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 15px;
}

.ms-rt h2 {
    font-size: 33px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ms-rt form {
    margin-top: 50px;
}

.ms-rt a {
    color: #f9a920;
}

.ms-rt p {
    font-size: 15px;
}

.ms-rt a:hover {
    color: #fff;
}

.ms-rt .form-group {
    position: relative;
    margin-bottom: 0;
}

.ms-rt .form-control {
    padding: 17px 150px 17px 20px;
    height: auto;
    border-radius: 28px;
    border: 0;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    line-height: normal;
}

.ms-rt .form-control:focus {
    border: 0;
}

.ms-rt .btn {
    position: absolute;
    right: -3px;
    top: 0;
    border-radius: 26px;
    padding-top: 0;
    margin-top: 0px;
    padding-bottom: 0px;
    line-height: 53px;
}

.ms-lt {
    margin-top: -200px;
}

.footer {
    padding-top: 50px;
}

.ftr-abt p {
    margin-top: 30px;
    font-size: 13px;
    line-height: 1.6;
}

.social-footer li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.social-footer li a {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: block;
    color: #fff;
    background-color: #f9a920;

    text-align: center;
    line-height: 2.3;
    font-size: 22px;
}

.social-footer li a:hover {
    background-color: #000;
}

.footer h3 {
    position: relative;
    color: #222;
    font-weight: 600;
    padding-bottom: 18px;
    margin-bottom: 15px;
}

.footer h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 78px;
    height: 3px;
    background-color: #f9a920;
}

.ftr-cnt p {
    position: relative;
    padding-left: 65px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.ftr-cnt img {
    position: absolute;
    left: 0;
    top: 0;
}

.ftr-cnt p span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400
}

.cp-rt {
    text-align: right;
}

.search-box-full.sbf {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    padding: 20% 10% 50% 10%;
    z-index: 99999;
    display: block;
}

.search-box-full .form-control {
    border-radius: 30px;
    height: 60px;
    padding: 25px;
}

.search-box-full .form-group {
    margin: 0;
    position: relative;
}

.search-box-close {
    color: #fff;
    font-size: 50px;
    position: absolute;
    right: 50px;
    top: 30px;
}

.search-box-full {
    display: none;
}

.search-box-btn {
    color: #f9aa21;
    font-size: 36px;
    position: absolute;
    right: 25px;
    top: 4px;
}

.desk-hide {
    display: none;
}

.selectpicker {
    border: 0;
    padding: 0;
    width: 60px;
    outline: none;
}

.header-search-wrapper {
    position: relative;
    display: inline-block;
}

.search-main {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    border: 1px solid #bbbbbb;
    color: #d2d2d2;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 2.3;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.search-main:hover {
    background-color: #f9a920;
    color: #000;
    border-color: #f9a920;
}

.header-search-wrapper .search-form-main {
    background: #fff none repeat scroll 0 0;
    -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .15);
    border-top: 2px solid #408c40;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 124%;
    width: 300px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

.search-form-main.active-search {
    opacity: 1;
    visibility: visible;
}

.header-search-wrapper .search-form-main {
    border-top-color: #f9a920;
}

.header-search-wrapper .search-form-main:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #408c40;
    content: "";
    position: absolute;
    right: 15px;
    top: -10px;
}

.header-search-wrapper .search-form-main:before {
    border-bottom-color: #f9a920;
}


.header-search-wrapper .search-form-main .search-submit {
    border: medium none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    float: left;
    padding: 10px 0 10px;
    width: 31%;
    height: 36px;
    background: #f9a920;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 20px;
    line-height: 17px;
}

.search-form-main .form-control {
    height: auto;
    line-height: 30px;
    border-radius: 45px;
    padding-right: 94px;
    font-size: 14px;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
}

/* categories_css_start */
.sub_banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/breadcrumb1.jpg);
    background-size: cover;
    text-align: center;
    padding: 60px 0px;
    margin-bottom: 50px;
    width: 100%;
    display: inline-block;
}

.sub_banner h1 {
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.sub_banner ul li {
    display: inline-block;
}

.neslter_section_in {
    margin-top: 150px;
}

.categories_sec_main .hc-col {
    margin-bottom: 30px;
}

/* categories_css_end */


/* shop_css_start */
.product_details_main {
    margin-top: 50px;
}

.left_filter_main {
    margin-right: 15px;
    width: 300px;
}

.search_products {
    position: relative;
}

.form-control {
    height: auto;
    line-height: 40px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid #ced4da;
    color: #6c757d;

}

.search_products .form-control {
    background-color: #fbf7e8;
    border-radius: 8px;
    position: relative;
    border: transparent;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 50px;
}

.search_products a {
    font-size: 20px;
    color: #222;
    position: absolute;
    top: 17px;
    right: 18px;

}

.search_products a:hover {
    color: #f9a920;
}

.f_by_price {
    margin-top: 40px;
}

.f_by_price>h4 {
    font-size: 18px;
    font-weight: bold;
    color: #f9a920;
    border-bottom: 1.5px dashed #DDD;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.content {
    width: 100%;
}

.slider {
    display: block;
    position: relative;
    height: 36px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slider .slider-touch-left,
.slider .slider-touch-right {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 24px;
    width: 24px;
    padding: 0;
    z-index: 2;
    top: 5px;
}

.slider .slider-touch-left span,
.slider .slider-touch-right span {
    display: block;
    width: 100%;
    height: 100%;
    background: #f9a920;
    border: 1px solid #f9a920;
    border-radius: 50%;
}

.slider .slider-line {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 0px);
    left: 0;
    top: 16px;
    height: 5px;
    border-radius: 4px;
    background: #e5e5e5;
    z-index: 0;
    overflow: hidden;
}

.slider .slider-line span {
    display: block;
    height: 100%;
    width: 0%;
    background: #f9a920;
}

#result {
    margin-top: 5px;
    font-size: 15px;
    color: #222;
    font-weight: 600;
}

.f_by_size ul li {
    display: inline-block;
    margin-left: 0px;
}

.f_by_size ul li+li {
    margin-left: 15px;
}

.f_by_size ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    background-color: #f7f4ef;
    font-size: 16px;
    font-weight: 500;
}

.f_by_size ul li a:hover {
    background: #f9a920;
    color: #FFF;
}

.f_by_cate ul li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}

.f_by_cate ul li a {
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    padding-bottom: 15px;
}

.f_by_cate ul li a span {
    display: inline-block;
    text-align: right;
    float: right;
}

.f_by_deals .tp-bx {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #e5e5e5;
}

.f_by_deals .popcol .tp-img {
    width: 60px;
    height: 75px;
    left: 0;
}

.f_by_deals .tp-img::before {
    border-radius: 8px;
}

.f_by_deals .tpcol {
    margin-bottom: 10px;
}

.f_by_deals .popcol .tp-bx {
    padding-left: 60px;
    padding-top: 10px;
    min-height: 110px;
}

.f_by_deals .tp-desc h4 {
    margin-bottom: 2px;
}

.f_by_deals .tp-desc h4 a {
    font-weight: bold;
    font-size: 14px;
}

.f_by_deals .price-sup {
    font-size: 17px;
}

.results_sort {
    width: 100%;
    display: inline-block;
}

.results_view {
    font-size: 15px;
    padding-top: 10px;
}

.shop_list_ctm {
    width: calc(100% - 315px);
    padding-left: 15px;
}

main {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #204056;
}

hgroup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hgroup h1 {
    color: #f75d5d;
    font-weight: bold;
}

h3.nav01,
h3.nav02 {
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

/*** button ***/
button {
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 1px;
    margin: 3px;
    margin-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 32px;
    transition: all 200ms ease-in-out;
}

button:hover {
    background-color: rgba(255, 255, 255, .1);
}

/*--- Nav | 01 | Side-Slide --*/
nav.side-slide {
    background-color: #f75d5d;
    top: 0;
    left: -285px;
    height: 100%;
    position: fixed;
    width: 285px;
}

nav.side-slide h3 {
    color: #fff;
    top: 25px;
    left: 240px;
}

nav.side-slide ul {
    margin-top: 70px;
    border-top: 1px solid #f44646;
}

nav.side-slide li {
    text-align: center;
    border-bottom: 1px solid #f44646;
    line-height: 60px;
}

nav.side-slide li:hover {
    background-color: #f44646;
}

nav.side-slide a {
    color: #ededed;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

nav.side-slide a:hover {
    color: #fff;
}

/*--- Nav | 02 | Side-Slide --*/
nav.drop-down {
    background-color: #ffc650;
    text-align: center;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrow: column;
}

nav.drop-down h3 {
    color: #d05353;
    top: 50px;
    right: 150px;
}

nav.drop-down li {
    line-height: 30px;
}

nav.drop-down a {
    color: #204056;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

nav.drop-down a:hover {
    color: #d05353;
}

.mobile_filter_btn {
    width: 120px;
    margin-top: 0px;
    line-height: 40px;
    background: #f9a920;
    color: #FFF;
    text-align: center;
    text-align: center;
    overflow: hidden;
    position: fixed;
    /* background-color: #6077d0; */
    bottom: 55%;
    left: -44px;
    color: #fff;
    z-index: 99999;
    /* padding: 10px 20px; */
    /* font-size: 15px; */
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transform: rotate(90deg);
    z-index: 1;
}

.mobile_filter_btn:hover {
    background-color: #000;
}

.offcanvas-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
}

.mobile_filter .btn-white {
    margin-top: 20px;
}

.sort_by {
    margin-bottom: 20px;
}

.sort_by_left {
    width: auto;
    float: left;
    padding-top: 8px;
}

.sort_by_right {
    width: 28%;
    float: right;
    display: table;
}

.sort_by_right label {
    display: table-cell;
}

.sort_by_right .form-select {
    border: 1px solid #ced4da;
    border-radius: 50px;
    padding: 10px 15px;
    font-size: 15px;
    display: table-cell;
    margin-left: 5px;
}

.form-select:focus {
    box-shadow: none;
}


/* shop_css_end */

/* about_css_start */

.about_sce_main {
    margin-bottom: 70px;
}

.about_info h5 {
    font-size: 18px;
    color: #f9a920;
}

.about_info h2 {
    color: #222;
    font-size: 35px;
    line-height: 55px;
    font-weight: bold;
    margin-top: 10px;
}

.about_info p {
    margin-top: 15px;
}

.about_sce_two {
    margin-top: 80px;
}

/* about_css_end*/


/* login_css_start */
.login_blog {
    /* margin: auto;
    background: #FFF;
    box-shadow: 0 0 30px rgb(0 0 0 / 6%);
    padding: 50px 50px;
    border-radius: 10px;
    position: relative; */
}

/* .login_blog:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    background-image: url(../images/shape_login.png);
    background-position: center;
    background-repeat: repeat-y;
    height: 100%;
}

.login_blog:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    background-image: url(../images/shape_login.png);
    background-position: center;
    background-repeat: repeat-y;
    height: 100%;
    transform: rotate(180deg);
} */

.login_blog h2 {
    font-weight: bold;
    color: #222;
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.login_blog a {
    color: #f9a920;
    padding-left: 5px;
}

.login_sec form {
    margin-top: 30px;
}

.login_sec form .btn-yellow {
    margin-top: 10px;
    color: #FFF;
    padding-left: 0px;
}

.form-group {
    margin-bottom: 20px;
}

.forgot_pass {
    float: right;
    text-align: right;
}

label {
    margin-bottom: 7px;
    color: #222;
}

label span {
    color: red;
}

.media_login {
    padding: 45px;
    border-radius: 8px;
    border: 1px solid #ced4da;
    margin-left: 30px;
}

.media_login a {
    font-size: 16px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 15px 25px;
    border-radius: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.media_login a i {
    padding-right: 10px;
}

.media_login .facebook_login {
    background-color: #FFF;
    border: 1px solid #ced4da;
    color: #000;
}

.media_login .facebook_login i {
    color: #1877F2;
}

.media_login .google_login {
    background-color: #FFF;
    color: #000;
    margin-bottom: 0px;
    border: 1px solid #ced4da;
}

.media_login .google_login i {
    color: #e66262;
}

.media_login .google_login img {
    width: 18px;
    vertical-align: middle;
    margin-right: 10px;
}

.media_login a:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
    box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
}

.ac_radio_btn {
    margin-bottom: 25px;
}

.media_login ul {
    margin-top: 20px;
}

.media_login ul li {
    display: inline-block;
    width: 48%;
}

.media_login ul li:last-child {
    float: right;
}

/* login_css_end */

/*terms_and_conditions_css_start*/
.company_say li {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 95px;
    margin-bottom: 20px;
    min-height: 120px;
}

.company_say li .s_num {
    display: inline-block;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    background-color: #ffda9b;
    text-align: center;
    min-width: 55px;
    height: 110px;
    line-height: 110px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.company_say li h2 {
    margin-top: 0;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
    color: #222;
}

.company_say li p {
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 22px;
}

.terms_title {
    margin-top: 0;
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #222;
}

.or_dr {
    position: relative;
    margin-top: 40px;
    ;
}

.or_dr::before {
    display: block;
    position: absolute;
    content: "";
    background: #ced4da;
    width: 100%;
    height: 1px;
    top: 20px;
}

.or_dr p {
    width: 40px;
    height: 40px;
    border: 1px solid #ced4da;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    margin: 0px auto;
    display: block;
    text-transform: uppercase;
    background-color: #FFF;
    position: relative;
}

/*terms_and_conditions_css_end*/

/* contact_css_start */
@keyframes iconTop {
    0% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    25% {
        opacity: 0;
        -webkit-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%);
    }

    50% {
        opacity: 0;
        -webkit-transform: translate(-50%, -40%);
        transform: translate(-50%, -40%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

.contact_info {
    margin-bottom: 10px;
}

.contact_block {
    background: #f6f6f6;
    padding: 20px 13px;
    align-items: center;
    display: flex;
    height: 100%;
}

.contact_icon_new {
    background: #f9a920;
    text-align: center;
    display: inline-block;
    border-radius: 50%;

}

.contact_icon_new i {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    line-height: 75px;
    width: 75px;
    height: 75px;
}

.contact_block:hover .contact_icon_new i {
    -webkit-animation: iconTop 0.4s ease-in-out;
    -moz-animation: iconTop 0.4s ease-in-out;
    animation: iconTop 0.4s ease-in-out;
}

.contact_icon_new i:before {
    color: #fff;
    font-size: 30px;
}

.contact_details {
    margin-left: 10px;
}

.contact_details h5 {
    font-weight: bold;
    font-size: 18px;
    color: #000;
    margin-bottom: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.contact_details p {
    line-height: 24px;
}

.contact_form {
    padding: 30px 20px;
    box-shadow: 0 0 12px rgb(0 0 0 / 12%);
    width: 100%;
}

.contact_mb {
    margin-bottom: 30px;
}

.contact_map iframe {
    height: 595px;
}

.contact_form .info_h3 {
    font-size: 24px;
    margin: 15px 0px;
}

.sub_title {
    color: #000;
    font-size: 28px;
    line-height: normal;
    font-weight: bold;
    margin-bottom: 15px;
}

.contact_form .btn-yellow {
    margin-top: 0px;
}

.contact_details_wp p:first-child {
    margin-top: 10px;
}

.contact_details_wp p {
    margin-bottom: 0px;
    margin-top: 2px;
}

.contact_details_wp span {
    color: #f9a920;
}

/* contact_css_end */


/* shop_details_css_start */
#sync1 .item {
    padding: 0px 0px;
    margin: 0px 5px;
    color: #FFF;
    text-align: center;
    border: 1px solid #dddddd;
    min-height: 420px;
    position: relative;
}

#sync2 .item {
    margin: 5px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border: 1px solid #DDD;

}

#sync2 .item h1 {
    font-size: 18px;
}

#sync2 .current .item {
    border: 2px solid #f9a920;
}

#sync1.owl-theme {
    position: relative;
}

.product_details_carousel #sync2 .owl-nav .owl-prev,
.product_details_carousel #sync2 .owl-nav .owl-next {
    color: #000;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background: transparent;
    border: transparent;
    bottom: 30%;
    font-size: 22px;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 35px;
    opacity: 1;
    position: absolute;
}

.product_details_carousel #sync2 .owl-nav .owl-prev {
    left: -25px;
}

.product_details_carousel #sync2 .owl-nav .owl-next {
    right: -25px;
}

.product_details_right h3 {
    color: #222;
    font-size: 30px;
    font-weight: bold;
}

.price_box {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-top: 5px;
}

.old_price {
    color: #777;
    font-size: 2rem;
    vertical-align: middle;
    text-decoration: line-through;
    margin-right: 3px;
    font-weight: bold;
}

.product_price {
    font-size: 2.4rem;
    letter-spacing: -.02em;
    vertical-align: middle;
    margin-left: 1rem;
    color: #222529;
    font-weight: bold;

}



.single_info_list {
    margin-top: 15px;
}

.single_info_list li {
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.single_info_list li:last-child {
    margin-bottom: 0px;
}

.single_info_list li strong {
    color: #4c4c4c;
}

.product_action_qty {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.product_single_qty {
    display: inline-block;
}

.product_single_qty a {
    display: inline-block;
    border: 1px solid #dadada;
    height: 47px;
    vertical-align: top;
    line-height: 47px;
    float: left;
    width: 35px;
    text-align: center;

}

.product_single_qty a:first-child {
    border-right: 0px;
}

.product_single_qty a:last-child {
    border-left: 0px;
}

.product_single_qty .form-control {
    display: inline-block;
    width: 60px;
    text-align: center;
    float: left;
    border-radius: 0px;
    line-height: 33px;
}



.thread_btn {
    background-color: #f9a920;
}

.thread_animated:hover:before {
    background: #333;
}

.size_color {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-top: 1px solid #ced4da;
    padding-top: 10px;
    margin-top: 10px;
}

.size_color .size {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}

.size_color .size span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.size_color .size ul {
    display: inline-block;
}

.size_color .size ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.size_color .size ul li a {
    width: 52px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #dadada;
    display: inline-block;
    border-radius: 7px;
}

.size_color .size ul li a:hover {
    background-color: #f9a920;
    border: 1px solid #f9a920;
    color: #FFF;
}

.size_color .size ul li .active {
    background-color: #f9a920;
    border: 1px solid #f9a920;
    color: #FFF;
}

.product_details_right .tp-desc {
    padding: 0px;
    margin-top: 10px;
}

.product_details_right .price-sup {
    font-size: 30px;
}

/* .products_tab {
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    padding: 0px 20px;
    margin-top: 50px;
} */

.products_tab .popluar-section {
    padding-top: 20px;
    padding-bottom: 25px;
}

.products_tab .popluar-section .nav-link {
    margin-top: 20px;
}

.product_desc_content ul {
    margin-top: 15px;
}

.product_desc_content ul li {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
    position: relative;
}

.product_desc_content ul li i {
    color: #222529;
    font-size: 16px;
    position: absolute;
    top: 2px;
    z-index: 9;
}

.product_desc_content ul li span {
    position: relative;
    padding-left: 25px;
    display: inline-block;
    width: 100%;
    font-size: 16px;

}

.product_review_in li {
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}

.product_review_in li:last-child {
    margin-bottom: 0px;
}

.product_review_in .comment_reply {
    padding-left: 50px;
}

.product_review_in .review_user_img {
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 1;
}

.product_review_in .review_user_img img {
    border-radius: 50%;
}

.review_user_info {
    padding-left: 90px;
}

.review_user_info .name {
    color: #222529;
    font-weight: 700;
    font-size: 15px;
}

.review_user_info .review_star a {
    display: inline-block;
    color: #f9a920;
    font-size: 13px;
    margin-right: 2px;
    margin: 5px 0px;
}

.review_user_info p {
    margin-bottom: 0px;
}

.related_products {
    margin-top: 50px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.add_review {
    width: 100%;
    display: inline-block;
    margin-top: 30px;
}

.add_review h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0px;
}

.ads_information .table-bordered>tbody>tr>th {
    color: #000;
    padding: 15px;
}

.ads_information .table-bordered>tbody>tr>td {
    padding: 15px;
}

/* shop_details_css_end */


/* wishlist_css_start */
.buss_info_left {
    border: 1px solid #ced4da;
    margin-bottom: 20px;
    width: 100%;
}

.cart_title {
    width: 100%;
    display: inline-block;
    background: #eaeaea;
    color: #000;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #ced4da;
}

.per_info_bx {
    display: inline-block;
    width: 100%;
    padding: 15px;
    position: relative;
}

.buss_info_left>h6 {
    margin: 0;
    padding: 25px 10px 25px 20px;
    background-color: #f6f8fa;
    text-transform: uppercase;
}

.buss_info_pro {
    position: relative;
    padding-left: 65px;
    min-height: 50px;
    margin: 10px 0;
}

.buss_info_pro img {
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #f6f6f6;
    padding: 2px;
    position: absolute;
    top: 0;
    left: 10px;
}

.buss_info_pro h6 {
    margin-top: 0;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    padding-right: 20px;
}

.buss_info_pro p {
    font-size: 14px;
    color: #939faa;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.buss_info_pro a.edit_icon {
    font-size: 18px;
    position: absolute;
    right: 8px;
    top: 0;
}

.icon_text {
    position: relative;
    color: #939faa;
    padding-left: 30px;
    margin-bottom: 20px;
}

.icon_text_mb0 {
    margin-bottom: 0px;
}

.icon_text i {
    color: #333;
    font-size: 15px;
    position: absolute;
    top: 3px;
    left: 0;
}

.icon_text i.fa-phone {
    transform: rotate(90deg);
}

.per_info_bx .edit_icon {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 20px;
}

.inner_left_menu_list ul {
    border: 1px solid #ced4da;
    width: 100%;
    display: inline-block;
}

.inner_left_menu_list ul li a {
    border-bottom: 1px solid #ced4da;
    width: 100%;
    display: inline-block;
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    color: #3e3e3e;
}

.inner_left_menu_list ul li .fa_icon_menu {
    padding-right: 10px;
}

.inner_left_menu_list ul li:last-child a {
    border-bottom: none;
}

.inner_left_menu_list ul li a:hover {
    padding-left: 30px;
    color: #f9a920;

}

.inner_left_menu_list ul li .active {
    background-color: #222;
    color: #f9a920;
}

.header_on_bottom .nav-menu>.rep_link {
    display: none;
}

.cart_in_left {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ced4da;

}

.cart_title {
    width: 100%;
    display: inline-block;
    background: #ececec;
    color: #000;
    padding: 14px 15px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ced4da;
    position: relative;
}

.cart_blog {
    width: 100%;
    display: inline-block;
    padding: 15px;
    position: relative;
    border-bottom: 1px solid #ced4da;
}

.cart_in_left .cart_blog:last-child {
    border-bottom: none;
}

.remove_cart {
    position: absolute;
    z-index: 5;
    right: 10px;
    font-size: 20px;
    color: #f32442;
    right: 15px;
}

.remove_cart:hover {
    color: #000;
    right: 15px;
}

.cart_img {
    width: 110px;
    height: 110px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.cart_img img {
    width: 100%;
    height: 100%;
    border: 1px solid #f2f2f3;

}

.cart_img .product_single_qty {
    margin-top: 20px;
}

.cart_img .product_single_qty a {
    width: 32px;
    height: 35px;
    line-height: 35px;
}

.cart_img .product_single_qty .form-control {
    width: 45px;
    height: 35px;
}

.cart_name_info {
    position: absolute;
    display: inline-block;
    padding-left: 15px;
}

.cart_name_info .cart_title_name a {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    width: 100%;
    display: inline-block;
}

.cart_name_info .cart_title_name a:hover {
    color: #f9a920;
    font-weight: 500;
}

.cart_title_name span {
    width: 100%;
    display: inline-block;
    margin: 5px 0px;
    font-size: 14px;
}

.cart_name_info p {
    margin-bottom: 0px;
    font-size: 14px;
    margin-top: 5px;
}

.cart_name_info .old_price {
    font-size: 18px;
}

.cart_name_info .product_price {
    margin-left: 5px;
    font-size: 20px;
    color: #f9a920;
}

.cart_name_info .price_box {
    margin-top: 10px;
}

.price_details {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ced4da;
}

.price_details .cart_title {
    text-transform: uppercase;
}

.place_order_blog {
    float: right;
    text-align: right;
    width: 186px;
    padding: 15px;
    text-align: center;
}

.cart_price_info {
    padding: 20px 15px 0px 15px;
    width: 100%;
    display: inline-block;
}

.cart_price_info>ul>li {
    font-size: 15px;
    color: #696969;
    padding-bottom: 20px;
    border-bottom: 1px solid #ced4da;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.cart_price_info>ul>li:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}

.cart_price_info>ul>li>span {
    font-size: 18px;
    color: #000;
    display: inline-block;
    text-align: right;
    float: right;
    font-weight: bold;

}

.cart_price_info ul .discount_price span {
    color: #388e3c;
}

.cart_price_info ul .total_amount {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.cart_price_btn .cart_btn {
    margin-top: 0px;
    margin-bottom: 20px;
}

.cart_price_btn .second_btn {
    min-width: 110px;
    line-height: 40px;
    padding: 0px 29px;
}

.wishlist_in .cart_img {
    position: absolute;
}

.wishlist_in .cart_name_info {
    padding-left: 125px;
    position: relative;
    margin-bottom: 20px;
}

.cart_price_info>ul>li .price-sup {
    font-size: 20px;
}

.cart_btn .btn {
    margin-top: 0px;
    padding: 10px 20px;
}

/* wishlist_css_end */


/* checkout_css_start */
.payment_method_right {
    margin-top: 20px;
}

.billing_dtl_info {
    margin-top: 20px;
    padding: 0px 15px;
}

.cart_price_info .radio-btn-small:last-child {
    width: 100%;
}

.in_box_card_multi .ctm_select {
    width: 31.8%;
    display: inline-block;
    margin-top: 10px;
}

.in_box_card_full .form-control {
    margin-top: 10px;
}

.in_box_card_multi .btn-yellow {
    width: 100%;
}

.in_box_card_multi .btn-yellow span {
    font-size: 12px;
    vertical-align: super;
    padding: 0px 2px;
}

textarea {
    resize: none;
}

textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px);
    line-height: normal;
}

.checkout_in .price_details .cart_title {
    text-transform: capitalize;
}

/* checkout_css_end */

/* account_settings_css_start */
.my_address {
    padding: 20px 15px 0px 15px;
}

.my_address .btn-yellow {
    margin-top: 0px;
    margin-bottom: 20px;
}

/*=================switch css==================*/
.account_switch_inner {
    position: relative;
    padding-left: 60px;
    min-height: 30px;
    margin-bottom: 18px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 6px;
}

.account_switch_inner .switch {
    position: absolute;
    left: 0;
    top: 0;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: #e0e2e5;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: #FFF;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    -moz-transform: translateX(22px);
    -o-transform: translateX(22px);
    transform: translateX(22px);
    background-color: #f9a920;
}

.slider.round {
    border-radius: 25px;
    height: 30px;
}

.slider.round:before {
    border-radius: 50%;
}

.account_switch_inner p {
    margin-left: 15px;
}

/* account_settings_css_end */

/* download_css_start */
.ctm_table table {
    margin-bottom: 0px;
}

.ctm_table table>tbody>tr>td {
    padding: 15px 10px;
    border-bottom: 1px solid #e7e7e7;
}

/*.ctm_table table > tbody > tr > td:last-child {
	border-bottom: none;
}*/

.ctm_table table>tbody>tr {
    padding: 15px 10px;
    border-bottom: 1px solid #e7e7e7;
}

.ctm_table table>tbody>tr:last-child {
    border-bottom: none;
}

.ctm_table table>thead>tr>th {
    border-bottom: 1px solid #ddd;
    padding: 15px 10px;
    color: #f9a920;
    font-size: 14px;
    text-transform: uppercase;

}

.ctm_table table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.ctm_table table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.ctm_table table tr {
    border: 1px solid transparent;
}

.ctm_table table th,
.ctm_table table td {

    text-align: left;
}

.ctm_table table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.support_tickets_main {
    margin-top: 30px;
}

.support_tickets_main h3 {
    color: #222;
    font-size: 26px;
    line-height: normal;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.subject_wid {
    width: 30%;
}

.closed_lbl {
    color: #ff0000;
}

.pending_lbl {
    color: #f9aa21;
}

.completed_lbl {
    color: #00a850;
}

/* download_css_end */

/*my_address_css_start*/

.row_ctm {
    display: flex;
    flex-flow: wrap;
    height: 100%;
}

.col_ctm {
    display: flex;
}

.address_box {
    display: inline-block;
    width: 100%;
    border: 3px solid #f1f1f1;
    padding: 15px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.address_box h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    color: #000;
}

.address_box p {
    margin: 10px 0px 15px 0px;
    line-height: 25px;
}

.address_box span {
    width: 100%;
    display: inline-block;
}

.address_box .second_btn {
    width: 100%;
    line-height: 45px;
}

.address_pl5 {
    padding-left: 5px;
}

.address_pr5 {
    padding-right: 5px;
}

.my_address_page .btn-yellow {
    margin-bottom: 0px;
    width: 100%;
    margin-top: 15px;
}

/*my_address_css_end*/

/* my_order_css_start */

.tracking_btn {
    background-color: #f9a920;
    color: #ffffff;
    border-color: #f9a920;
    padding: 2px 30px;
    border-radius: 25px;
    font-size: 15px;
    margin-top: 0px;
    display: inline-block;
    margin-bottom: 0px;
    float: right;
    width: 200px;
}

.tracking_btn:hover {
    background-color: #000;
    color: #f9a920;
}

.invoce_btn {
    background-color: transparent;
    border-color: #f9a920;
    color: #f9a920;
}

.invoce_btn:hover {
    background-color: #000;
    border-color: #000;
    color: #FFF;
}

.track_main {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

.order-tracking {
    text-align: center;
    width: 24.05%;
    position: relative;
    display: block;
}

.order-tracking p {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

.order-tracking p span {
    font-weight: 500;
    padding-top: 5px;
    display: inline-block;
    width: 100%;
    font-size: 14px;

}

.order-tracking .is-complete {
    display: block;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 0px solid #AFAFAF;
    background-color: #f7be16;
    margin: 0 auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    z-index: 2;
}

.order-tracking .is-complete:after {
    display: block;
    position: absolute;
    content: '';
    height: 14px;
    width: 7px;
    top: -2px;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    border: 0px solid #AFAFAF;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

.order-tracking.completed .is-complete {
    border-color: #27aa80;
    border-width: 0px;
    background-color: #27aa80;
}

.order-tracking.completed .is-complete:after {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}

.order-tracking p {
    color: #A4A4A4;
    font-size: 16px;
    line-height: 20px;
}

.order-tracking.completed p {
    color: #000;
}

.order-tracking::before {
    content: '';
    display: block;
    height: 3px;
    width: calc(100% - 40px);
    background-color: #f7be16;
    top: 13px;
    position: absolute;
    left: calc(-50% + 20px);
    z-index: 0;
}

.order-tracking:first-child:before {
    display: none;
}

.order-tracking.completed:before {
    background-color: #27aa80;
}

.track_main ul li {
    display: inline-block;
    width: 100%;
    padding: 10px 30px;
    color: #000;

}

.track_main ul li:nth-child(odd) {
    background-color: #f1f1f1;
}

.track_main ul li:nth-child(even) {
    background-color: #FFF;
}

.track_main ul li p {
    display: inline-block;
}

.track_main ul li p b {
    font-weight: 600;
    padding-right: 5px;
}

.order_btn_main {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30%;
}

.invoce_btn {
    margin-top: 10px;
}

.malti_products {
    width: 100%;
    margin-top: 15px;
    display: inline-block;
}

.order_in .cart_name_info {
    padding-right: 190px;
}

.wishlist_in .order_btm_block .cart_name_info {
    margin-bottom: 5px;
}

/* my_order_css_end */



/* order_details_css_star */
.order_dtl_sec_one>ul {
    margin-bottom: 20px;
}

.order_dtl_sec_one>ul>li {
    display: inline-block;
    color: #000;
    margin-right: 10px;
    font-weight: 500;
}

.order_dtl_sec_one ul>li+li {
    padding-left: 10px;
}

.order_address_info {
    margin-bottom: 15px;
}

.order_address_info h4 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.order_address_info p {
    line-height: 24px;
    font-size: 14px;
}

.order_address_info ul li .price-sup {
    display: inline-block;
    font-size: 18px;
    float: right;
}

.order_address_info .summary_blog {
    margin-top: 15px;
}

.order_address_info .summary_blog li {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}

.order_address_info .summary_blog li+li {
    padding-left: 0px;
}

.order_address_info .summary_blog .total_blog span {
    font-weight: 700;
    color: #222222;
    font-size: 18px;
}

.wishlist_in .order_btm_block .cart_name_info {
    padding-right: 0px;
}

/* order_details_css_end */
/* membership_css_start */
.plan_blog {
    padding: 0px 30px 0px 40px;
}

.plan_box_1 {
    width: 280px;
    display: inline-block;
    box-shadow: 0 8px 40px -5px rgb(9 31 67 / 13%);
    background-color: #FFF;
}

.plan_box_2 {
    width: 370px;
    display: inline-block;
    box-shadow: 0 8px 40px -5px rgb(9 31 67 / 13%);
    background-color: #FFF;
    position: relative;
    left: -5px;
}

.plan_box_in_data {
    padding: 30px 15px;
}

.plan_box_in_data h3 {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.plan_box_in_data h4 {
    font-size: 15px;
    font-weight: 500;
    color: #f9a920;
    margin: 15px 0px 20px 0px;
}

.plan_box_in_data h2 {
    font-size: 35px;
    font-weight: 700;
    color: #202020;
    padding-bottom: 30px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 30px;
}

.plan_box_in_data h2 sup {
    font-size: 18px;
    font-weight: 600;
}

.plan_box_in_data ul li {
    color: #686868;
    margin-bottom: 20px;
    position: relative;
}


.plan_box_in_data ul li span {
    font-size: 16px;
    padding-left: 7px;
}

.plan_box_in_data ul li span .check {
    color: #00b900;
}

.plan_box_in_data ul li span .times {
    color: red;
}

.plan_box_in_data ul .no_need {
    color: #c4c4c4;
}

.plan_box_2 .plan_box_in_data {
    padding: 50px 65px;
}

.plan_box_1,
.plan_box_2 {
    transform: translateY(0);
    transition: 0.5s;
}

.plan_box_1:hover,
.plan_box_2:hover {
    transform: translateY(-20px);
}

.plan_info {
    margin-top: 20px;
}

.plan_info .cart_title {
    padding: 0px;
    background-color: transparent;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* membership_css_end */

/* notification_css_start */


.notification_list {
    border: 1px solid #ececec;
    border-radius: 6px;
}

.notification_list ul li {
    border-bottom: 1px solid #ececec;
    display: inline-block;
    width: 100%;
    padding: 20px 90px;
    position: relative;
    min-height: 110px;
}

.notification_list ul li:last-child {
    border-bottom: none;
}

.notification_list ul li span {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    background-color: #a5a5a5;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 30px;
    color: #fff;
    font-size: 16px;
}

.notification_list ul li.active span {
    background-color: #f9a920;
}

.notification_list ul li p {
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 25px;
}

.notification_list ul li .date {
    font-size: 12px;
    color: #818181;
}

.notification_list ul li .noti_dlt {
    color: #f92f1f;
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 30px;
}

/* notification_css_end */


/* point_rewards_css_start */

.reward_block {
    margin-bottom: 15px;
}


.reward_block h3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 3px;
    color: #222;
}

/* point_rewards_css_end */


/* profile_css_start */
.prime {
    position: absolute;
    bottom: -77px;
    right: 20px;
}

.profile_img {
    width: 150px;
    height: 150px;
    margin: 20px auto 30px auto;
    text-align: center;
    position: relative;
}

.profile_img img {
    border-radius: 100px;
}

.profile_block {
    border: 1px solid #ced4da;
    width: 100%;
    padding: 10px 20px 12px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.profile_block p {
    margin-bottom: 0px;
}

.profile_block h4 {
    color: #000;
}

/* profile_css_end */

/* edit_profile_css_start */
.profile_img a {
    display: inline-block;
    width: 100%;
    border-radius: 100%;
    color: #fff;
    font-size: 24px;
    position: relative;
}

.profile_img .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    opacity: 0;
    transition: all 0.5s ease;
}

.profile_img a:hover .overlay {
    opacity: 1;
    transition: all 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.block_table {
    display: table;
    width: 100%;
    height: 100%;
}

.block_table_cell {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

.profile_img a:hover .overlay {
    opacity: 1;
    transition: all 0.5s ease;
}

.edit_profile_info .btn-yellow {
    width: 130px;
}

/* edit_profile_css_end */