@media (max-width: 1300px) {}

@media (max-width: 1199px) {
    .hiw-bx {
        padding-left: 30px;
        padding-right: 30px;
    }

    .home-banner .carousel-caption {
        right: 55%;
    }

    .edh-inner {
        padding-right: 40%;
    }

    .edh-inner>img {
        width: 30%;
    }

    .tp-img {
        height: 165px;
    }

    .tp-img img {
        max-height: 125px;
    }

    .home-banner .carousel-caption h2 {
        font-size: 40px;
    }


}

@media (max-width: 991px) {
    .home-banner .carousel-caption {
        bottom: 15px;
    }

    .home-banner .carousel-caption h2 {
        font-size: 36px;
    }

    .edh-inner>img {
        width: 80px;
    }

    .hiw-bx {
        padding: 15px;
    }

    .ms-rt {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .navbar-toggler {
        background-color: #f9aa21;
    }

    .th-rt,
    .th-lt {
        font-size: 13px;
    }

    .action-header a {
        margin-left: 0;
        margin-right: 5px;
    }

    .edh-inner {
        padding-right: 100px;
    }

    .mobile-hide {
        display: none;
    }

    .action-header.desk-hide {
        position: absolute;
        right: 48px;
        top: 30px;
        display: block;
    }

    .action-header.desk-hide a,
    .search-main {
        width: 30px;
        height: 30px;
        font-size: 14px;
        line-height: 2;
    }

}


@media (max-width: 767px) {
    .popluar-section .nav-link {
        padding: 10px 20px;
        font-size: 14px;
    }

    .footer h3 {
        margin-top: 30px;
    }

    .cp-lt,
    .cp-rt,
    .th-rt {
        text-align: center;
    }

    h2,
    .ms-rt h2 {
        font-size: 26px;
    }

    .popluar-section .nav-item {
        margin: 8px 3px;
    }

    h3 {
        font-size: 18px;
    }

    .th-lt {
        display: none;
    }

    .search-box-full.sbf {
        padding-top: 36%;
    }

    .header-search-wrapper .search-form-main {
        left: 50%;
        transform: translate(-50%, 15%);
    }

    .header-search-wrapper .search-form-main:before {
        left: 50%;
        transform: translate(-50%, -16%);
        right: auto;
    }
}

@media (max-width: 568px) {}

@media (max-width: 480px) {}