@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

body {
    font-weight: 400;
    color: #838383;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
    counter-reset: step-inner-box;
}

img {
    border: 0 none;
    max-width: 100%;
    vertical-align: top;
}

a {
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    color: #505050;
}

a:hover,
a:focus {
    color: #f9a920;
    text-decoration: none;
}

p:last-child {
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.centerdiv {
    margin: 0 auto;
}


.top-header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ececec;
}

.th-lt>ul>li,
.th-rt>ul>li {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #d5d5d5;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 9px;
    margin-left: 9px;
    line-height: 1;
    color: #222;
}

.top-header li:first-child {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

.th-lt>ul>li>a {
    color: #222;
}

.th-lt>ul>li>a:hover {
    color: #f9a920;
}

.th-rt {
    text-align: right;
}

.th-rt .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
}

.th-rt .bootstrap-select>.dropdown-toggle {
    padding: 0;
    background-color: transparent !important;
    font-size: 14px !important;
    border: 0 !important;
    box-shadow: none !important;
    outline: none !important;
}

.dropdown-menu {
    border-color: #ebebeb;
    border-radius: 8px;
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-item {
    padding: 8px 15px;
    font-size: 14px;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #f9aa21;
    color: #000;
}

.action-header a {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    border: 1px solid #bbbbbb;
    color: #d2d2d2;
    margin-left: 12px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 2.3;
}

.action-header a:hover {
    background-color: #f9a920;
    color: #000;
    border-color: #f9a920;
}

.navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 500;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #f9a920;
}

.navbar-nav {
    margin-right: 2%;
}

nav.navbar {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.home-banner .carousel-caption {
    text-align: left;
    right: 68%;
    left: 9%;
    bottom: 60px;
}

.home-banner .carousel-caption h2 {
    font-size: 50px;
    font-weight: 900;
    line-height: 1.2;
}

.btn-white {
    background-color: #ffffff;
    color: #f9a920;
    font-weight: 500;
    text-transform: capitalize;
    padding: 13px 25px;
    font-size: 16px;
    border-radius: 6px;
}

.btn-white:hover {
    background-color: #000;
    color: #f9a920;
}

.home-category {
    padding-top: 40px;
    padding-bottom: 40px;
}

.hc-col {
    border: 1px solid #ffd795;
    border-radius: 18px;
    background-color: #ffeccc;
    text-align: center;
}

.hc-col a {
    display: block;
    padding: 30px 20px 20px 20px;
    font-size: 20px;
    color: #222222;
    font-weight: 500;
    text-transform: capitalize;
}

.home-category .owl-carousel .owl-item img {
    width: auto;
    margin: 0 auto;
}

.img-cat {
    display: block;
    min-height: 65px;
    line-height: 1;
    margin-bottom: 15px;
}

.hc-col-pink {
    background-color: #ffe1d1;
    border-color: #fcc1a2;
}

.hc-col-red {
    background-color: #ffd8ba;
    border-color: #fdba86;
}

.hc-col-green {
    background-color: #e4e8cc;
    border-color: #d7e486;
}

.hc-col-gray {
    background-color: #e4dcca;
    border-color: #e4d3ae;
}

.everyday-home {
    background-color: #faead3;
    padding-top: 55px;
    padding-bottom: 35px;
}

.ed-h {
    margin-bottom: 20px;
}

.edh-inner {
    border-radius: 14px;
    background-color: #ffffff;
    color: #222222;
    padding: 15px 0px 40px 20px;
    padding-right: 48%;
    position: relative;
    height: 100%;
}

.btn-yellow {
    background-color: #f9a920;
    color: #fff;
}

.btn-yellow:hover {
    background-color: #000;
}

.edh-inner>img {
    position: absolute;
    right: 15px;
    top: 12%;
}

.edh-inner h4 {
    line-height: 1.5;
    font-weight: 600;
    color: #222222;
}

.ed-green .edh-inner {
    background-color: #00a850;
    color: #fff;
}

.ed-green .edh-inner h4 {
    color: #ffffff;
}

.ed-orange .edh-inner {
    background-color: #db731e;
    color: #fff;
}

.ed-orange .edh-inner h4 {
    color: #ffffff;
}

.link-txt-green {
    color: #00a850;
}

.link-txt-orange {
    color: #db731e;
}

.ed-green .edh-inner>img {
    top: 25%;
}

.tedning-home {
    padding-top: 40px;
    padding-bottom: 25px;
}

.title-section h2 {
    font-weight: 600;
    color: #222;
}

.tpcol {
    margin-bottom: 30px;
}

.tp-bx {
    position: relative;
    border: 1px solid #e5e5e5;
    padding: 10px 10px 25px 10px;
    border-radius: 18px;
    height: 100%;
}

.tp-img {
    position: relative;
    text-align: center;
    padding: 24px;
    margin-bottom: 20px;
    height: 211px;

}

.tp-img img {
    max-height: 165px;
}

.tp-img:hover::before {
    height: 100%;
    background-color: rgba(249, 169, 32, 1);
}

.tp-img::before {
    content: '';
    position: absolute;
    background-color: rgba(249, 169, 32, .2);
    border-radius: 18px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 96px;
    z-index: -1;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.like-btn {
    position: absolute;
    right: 10px;
    top: 0;
    color: #d2d2d2;
    font-size: 20px;
}

.like-btn:hover {
    color: #ff0000;
}

.tp-desc {
    padding-left: 14px;
    padding-right: 14px;
}

.tp-desc h4 a {
    color: #222222;
    font-weight: 500;
}

.tp-desc h4 a:hover {
    color: #db731e;
}

.tp-desc h4 {
    margin-bottom: 10px;
    font-weight: 500;
    color: #222;
}

.tp-desc p {
    color: #838383;
    font-weight: 400;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tp-user {
    padding: 2px 2px 2px 51px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
}

.tp-thumb {
    position: absolute;
    left: 2px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
}

.tp-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tp-user h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #f9a920;
    font-size: 15px;
}

.tp-user h5 a {
    color: #f9a920;
}

.tp-user h5 a:hover {
    color: #000;
}

.tp-price {
    position: relative;
    padding-left: 10px;
    padding-top: 5px;
}

.cart-icon {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    display: block;
    color: #fff;
    background-color: #f9a920;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 2.1;
    font-size: 20px;
}

.cart-icon:hover {
    background-color: #000;
}

.price-sup {
    font-size: 24px;
    font-weight: 700;
    color: #222222;
}

.price-sup sup {
    font-size: 10px;
    top: -11px;
}

.hiw-section {
    background-image: url(../images/hiw-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 95px;
    padding-bottom: 65px;
}

.hiw-bx {
    text-align: center;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 30px 60px;
}

.hiw-col {
    margin-bottom: 30px;
}

.hiw-bx h3 {
    margin-top: 25px;
    text-transform: uppercase;
    color: #222;
    font-weight: 600;
}

.hiw-bx p {
    font-size: 14px;
    margin-top: 20px;
    color: #838383;
}

.popluar-section {
    padding-top: 60px;
    padding-bottom: 120px;
}

.popluar-section .nav-tabs {
    display: block;
    text-align: center;
    border: 0;
    margin-bottom: 45px;
}

.popluar-section .nav-item {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
}

.popluar-section .nav-link {
    border: 1px solid #e5e5e5;
    font-size: 16px;
    text-transform: capitalize;
    color: #838383;
    padding: 13px 30px;
    border-radius: 25px;
}

.popluar-section .nav-link:hover,
.popluar-section .nav-link.active {
    background-color: #f9a920;
    color: #ffffff;
    border-color: #f9a920;
}

.popcol .tp-img {
    padding: 14px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 140px;
    height: 135px;
}

.popcol .tp-bx {
    padding-left: 160px;
    min-height: 158px;
    padding-top: 20px;
}

.popcol .tp-img::before {
    height: 100%;
}

.popcol .tp-img img {
    max-height: 108px;
    height: 42px;
}

.popcol .like-btn {
    right: 13px;
    top: 10px
}

.popcol .tp-price {
    padding-left: 15px;
}

.popcol .cart-icon {
    right: 4px;
}

.vm-link {
    border-radius: 25px;
    min-width: 162px;
}

.neslter-section {
    background-color: #0b0320;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 15px;
}

.ms-rt h2 {
    font-size: 33px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
}

.ms-rt form {
    margin-top: 50px;
}

.ms-rt a {
    color: #f9a920;
}

.ms-rt p {
    font-size: 15px;
}

.ms-rt a:hover {
    color: #fff;
}

.ms-rt .form-group {
    position: relative;
    margin-bottom: 0;
}

.ms-rt .form-control {
    padding: 17px 150px 17px 20px;
    height: auto;
    border-radius: 28px;
    border: 0;
    box-shadow: none;
    outline: none;
    font-size: 14px;
}

.ms-rt .btn {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 26px;
    padding-top: 17px;
    padding-bottom: 17p;
}

.ms-lt {
    margin-top: -200px;
}

.footer {
    padding-top: 50px;
}

.ftr-abt p {
    margin-top: 30px;
    font-size: 13px;
    line-height: 1.6;
}

.social-footer li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.social-footer li a {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: block;
    color: #fff;
    background-color: #f9a920;

    text-align: center;
    line-height: 2.3;
    font-size: 22px;
}

.social-footer li a:hover {
    background-color: #000;
}

.footer h3 {
    position: relative;
    color: #222;
    font-weight: 600;
    padding-bottom: 18px;
    margin-bottom: 15px;
}

.footer h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 78px;
    height: 3px;
    background-color: #f9a920;
}

.ftr-cnt p {
    position: relative;
    padding-left: 65px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.ftr-cnt img {
    position: absolute;
    left: 0;
    top: 0;
}

.ftr-cnt p span {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400
}

.cp-rt {
    text-align: right;
}

.search-box-full.sbf {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
    padding: 20% 10% 50% 10%;
    z-index: 99999;
    display: block;
}

.search-box-full .form-control {
    border-radius: 30px;
    height: 60px;
    padding: 25px;
}

.search-box-full .form-group {
    margin: 0;
    position: relative;
}

.search-box-close {
    color: #fff;
    font-size: 50px;
    position: absolute;
    right: 50px;
    top: 30px;
}

.search-box-full {
    display: none;
}

.search-box-btn {
    color: #f9aa21;
    font-size: 36px;
    position: absolute;
    right: 25px;
    top: 4px;
}

.desk-hide {
    display: none;
}

.header-search-wrapper {
    position: relative;
    display: inline-block;
}

.search-main {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 48px;
    border: 1px solid #bbbbbb;
    color: #d2d2d2;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 2.3;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
}

.search-main:hover {
    background-color: #f9a920;
    color: #000;
    border-color: #f9a920;
}

.header-search-wrapper .search-form-main {
    background: #fff none repeat scroll 0 0;
    -webkit-box-shadow: 1px 1px 7px rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, .15);
    border-top: 2px solid #408c40;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 124%;
    width: 300px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
}

.search-form-main.active-search {
    opacity: 1;
    visibility: visible;
}

.header-search-wrapper .search-form-main {
    border-top-color: #f9a920;
}

.header-search-wrapper .search-form-main:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #408c40;
    content: "";
    position: absolute;
    right: 15px;
    top: -10px;
}

.header-search-wrapper .search-form-main:before {
    border-bottom-color: #f9a920;
}


.header-search-wrapper .search-form-main .search-submit {
    border: medium none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    float: left;
    padding: 10px 0 10px;
    width: 31%;
    height: 36px;
    background: #f9a920;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 20px;
    line-height: 17px;
}

.search-form-main .form-control {
    height: auto;
    line-height: 30px;
    border-radius: 45px;
    padding-right: 94px;
    font-size: 14px;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #ced4da;
}

/* categories_css_start */
.sub_banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/breadcrumb1.jpg);
    background-size: contain;
    text-align: center;
    padding: 110px 0px;
    margin-bottom: 50px;
}

.sub_banner h1 {
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.sub_banner ul li {
    display: inline-block;
}

.neslter_section_in {
    margin-top: 150px;
}

.categories_sec_main .hc-col {
    margin-bottom: 30px;
}

/* categories_css_end */


/* shop_css_start */
.left_filter_main {
    margin-right: 15px;
    width: 300px;
}

.search_products {
    position: relative;
}

.form-control {
    height: auto;

}

.search_products .form-control {
    background-color: #fbf7e8;
    border-radius: 8px;
    position: relative;
    border: transparent;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 50px;
}

.search_products a {
    font-size: 20px;
    color: #222;
    position: absolute;
    top: 17px;
    right: 18px;

}

.search_products a:hover {
    color: #f9a920;
}

.f_by_price {
    margin-top: 40px;
}

.f_by_price>h4 {
    font-size: 18px;
    font-weight: bold;
    color: #f9a920;
    border-bottom: 1.5px dashed #DDD;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.content {
    width: 100%;
}

.slider {
    display: block;
    position: relative;
    height: 36px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slider .slider-touch-left,
.slider .slider-touch-right {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 24px;
    width: 24px;
    padding: 0;
    z-index: 2;
    top: 5px;
}

.slider .slider-touch-left span,
.slider .slider-touch-right span {
    display: block;
    width: 100%;
    height: 100%;
    background: #f9a920;
    border: 1px solid #f9a920;
    border-radius: 50%;
}

.slider .slider-line {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 0px);
    left: 0;
    top: 16px;
    height: 5px;
    border-radius: 4px;
    background: #e5e5e5;
    z-index: 0;
    overflow: hidden;
}

.slider .slider-line span {
    display: block;
    height: 100%;
    width: 0%;
    background: #f9a920;
}

#result {
    margin-top: 5px;
    font-size: 15px;
    color: #222;
    font-weight: 600;
}

.f_by_size ul li {
    display: inline-block;
    margin-left: 0px;
}

.f_by_size ul li+li {
    margin-left: 15px;
}

.f_by_size ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    background-color: #f7f4ef;
    font-size: 16px;
    font-weight: 500;
}

.f_by_size ul li a:hover {
    background: #f9a920;
    color: #FFF;
}

.f_by_cate ul li {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}

.f_by_cate ul li a {
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    padding-bottom: 15px;
}

.f_by_cate ul li a span {
    display: inline-block;
    text-align: right;
    float: right;
}

.f_by_deals .tp-bx {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #e5e5e5;
}

.f_by_deals .popcol .tp-img {
    width: 60px;
    height: 75px;
    left: 0;
}

.f_by_deals .tp-img::before {
    border-radius: 8px;
}

.f_by_deals .tpcol {
    margin-bottom: 10px;
}

.f_by_deals .popcol .tp-bx {
    padding-left: 60px;
    padding-top: 10px;
    min-height: 110px;
}

.f_by_deals .tp-desc h4 {
    margin-bottom: 2px;
}

.f_by_deals .tp-desc h4 a {
    font-weight: bold;
    font-size: 14px;
}

.f_by_deals .price-sup {
    font-size: 17px;
}

.results_sort {
    width: 100%;
    display: inline-block;
}

.results_view {
    font-size: 15px;
    padding-top: 10px;
}

.shop_list_ctm {
    width: calc(100% - 315px);
    padding-left: 15px;
}

main {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: #204056;
}

hgroup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hgroup h1 {
    color: #f75d5d;
    font-weight: bold;
}

h3.nav01,
h3.nav02 {
    position: absolute;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

/*** button ***/
button {
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 1px;
    margin: 3px;
    margin-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 32px;
    transition: all 200ms ease-in-out;
}

button:hover {
    background-color: rgba(255, 255, 255, .1);
}

/*--- Nav | 01 | Side-Slide --*/
nav.side-slide {
    background-color: #f75d5d;
    top: 0;
    left: -285px;
    height: 100%;
    position: fixed;
    width: 285px;
}

nav.side-slide h3 {
    color: #fff;
    top: 25px;
    left: 240px;
}

nav.side-slide ul {
    margin-top: 70px;
    border-top: 1px solid #f44646;
}

nav.side-slide li {
    text-align: center;
    border-bottom: 1px solid #f44646;
    line-height: 60px;
}

nav.side-slide li:hover {
    background-color: #f44646;
}

nav.side-slide a {
    color: #ededed;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

nav.side-slide a:hover {
    color: #fff;
}

/*--- Nav | 02 | Side-Slide --*/
nav.drop-down {
    background-color: #ffc650;
    text-align: center;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrow: column;
}

nav.drop-down h3 {
    color: #d05353;
    top: 50px;
    right: 150px;
}

nav.drop-down li {
    line-height: 30px;
}

nav.drop-down a {
    color: #204056;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

nav.drop-down a:hover {
    color: #d05353;
}

/* shop_css_end */